@import 'src/styles/_variables';

.room__link {
  display: block;
  color: $gray-700;
  text-decoration: none;

  transition: all .6s;
  &:hover, &:active, &:focus {
    transition: all .3s;
    color: theme-color('primary');
    transform: scale(1.5);
  }
}
